/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */

body {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Typeography General*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4rem;
    margin-left: 2rem;
}

@media screen and (min-width: 600px) {
    .main__hero h1 {
        font-size: 6em;
        margin-left: 2.5rem;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #161616;
}

p {
    line-height: 1.6em;
    color: #161616;
}

/* ---- Layout Rules ---- */

main {
    margin: 0;
}

.main__hero {
    min-height: 100vh;
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    margin: 0;
    background-position: right;
    display: flex;
    align-items: center;
}

.main__hero span {
    background-color: #161616;
    padding: 0 1rem;
    -webkit-box-decoration-break: clone;
    color: #fff;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar {
    padding: 0.5rem 0 !important;
    position: fixed;
    top: 0;
}
.navbar__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding: 0;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
    background: #161616;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #161616;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

#navbar__list {
    color: #fff;
    text-decoration: none;
    width: 100%;
}

#navbar__list li {
    padding: 1rem;
    font-size: 20px;
    cursor: pointer;
}

#nav img {
    display: none;
}

@media only screen and (min-width: 600px) {
    #nav img {
        display: unset;
        width: 50px;
        height: 50px;
        padding: 0.5rem;
        margin-left: 3.5rem;
    }
}

/* Header Styles */

.page__header {
    background: #161616;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 4rem;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .page__header {
        flex-direction: row;
    }
}

/* Footer Styles */

.page__footer {
    background: #161616;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */

.landing__container {
    padding: 1em;
    text-align: left;
    margin-top: 4rem;
    padding-top: 8rem;
}

.active {
    color: #cc1;
}

@media only screen and (min-width: 600px) {
    .landing__container {
        max-width: 50em;
        padding: 7em 4em 0 4em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */

/* Note that background circles are created with psuedo elements before and after */

/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n+1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */

/* Section Active Styles */

/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}